fastapi
uvicorn[standard]
python-multipart
pymupdf
python-docx
python-dotenv
anthropic
groq
google-generativeai
pydantic
openpyxl
# RAG dependencies
chromadb
sentence-transformers
# Database
sqlalchemy
alembic
psycopg2-binary
